.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 888px;
}

.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 14px;
}

.image img {
  border-radius: 14px;
  object-fit: cover;
  height: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.meta {
  color: gray;
  display: flex;
  gap: 20px;
  margin: 6px 0 10px;
}

.desc {
  color: #777;
  margin-bottom: 10px;
   display: -webkit-box;       /* Используем flexbox-подобный контейнер */
  -webkit-line-clamp: 1;      /* Ограничиваем одной строкой */
  -webkit-box-orient: vertical;
  overflow: hidden;           /* Скрываем лишнее */
  text-overflow: ellipsis;    /* Показываем "..." */
  white-space: normal;        /* Позволяем перенос слов внутри линии, но не больше одной линии */
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tags span {
  background: #f2f4f7;
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: 500;
}

.btn {
  background: rgba(228, 72, 72, 1);
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 200px;
  width: 170px;
  font-family: 'inter', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.5%;
}
.btnmore {
    color: rgba(16, 24, 40, 1);
    font-weight: 500;
    font-family: "inter", sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    width: 150px;
    border: 1px solid rgba(218, 221, 225, 1);
    border-radius: 200px;
    background-color: white;
}
.btnmore:hover {
    border: 1px solid rgba(216, 67, 67, 1);
    cursor: pointer;
}
